<!-- id, date, official, child, comment, type, notice_sent, published, created_at, updated_at -->
<div id="{{type}}_{{id}}"
    {% if published %}
        class="unpublished"
    {%else%}
        class="unpublished"
    {%endif%}>
    <div class="date">
        <span class="month">{{ date | date: "%b" }}</span>
        <span class="day">{{ date | date: "%d" }}</span>
        <span class="year">{{ date | date: "%Y" }}</span>
    </div>
    <img class="type" src="images/baby.svg"> </img>
    <span class="record_details">
      <span class="title">{{child}}</span>
      <span class="passage">Child Dedication</span>
      <span class="speaker">{{official}}</span>
    </span>
    <select>
        <option name="">Download</option>
        <option name="dedication">Dedication</option>
    </select>
</div>
