<div id="{{type}}_{{id}}"
    {% if published %}
        class="unpublished"
    {%else%}
        class="unpublished"
    {%endif%}>
    <div class="date">
        <span class="month">{{ date | date: "%b" }}</span>
        <span class="day">{{ date | date: "%d" }}</span>
        <span class="year">{{ date | date: "%Y" }}</span>
    </div>
    <img class="type" src="images/sermon.svg"> </img>
    <span class="record_details">
      <span class="title">{{title}}</span>
      <span class="speaker">{{preacher}}</span> &bull;
      <span class="passage">{{scripture}}</span>
    </span>
    <select>
        <option name="">Download</option>
        <option name="sermon">Sermon</option>
        <option name="cue">CUE File</option>
        <option name="original">Original</option>
        <option name="zipfile">ALL (.zip)</option>
    </select>
</div>
